body {
  font-family: Arial, sans-serif;
  background: url('../stram2.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Prevent scrolling on the body */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* backdrop-filter: blur(10px); Optional: adds a blur effect */
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Add gap between input and button */
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.header {
  background-color: rgb(128, 219, 210); /* Light green color */
  color: white;
  padding: 10px 0; /* Increased padding for better appearance */
  text-align: center;
  font-size: 20px; /* Smaller font size */
  position: sticky;
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it stays above other content */
}

.room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  overflow: auto; /* Add scroll effect for the room */
  padding: 20px; /* Optional: add padding if needed */
}

.room h1 {
  font-size: 24px;
}
